body {
  background-color: #333;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
h1 {
  display: block;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: #ba8d9f;
  font-size: 40px;
  line-height: 44px;
  font-weight: 400;
  text-decoration: none;
}
h2 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
  font-size: 22px;
  line-height: 27px;
  font-weight: 600;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.button {
  position: static;
  left: 20%;
  top: 0px;
  right: 20%;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 3px 23px 6px;
  float: none;
  border: 2px solid #ba8d9f;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px;
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  -o-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family:'Roboto Slab', sans-serif;
  color: #ba8d9f;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  border-color: rgba(245, 118, 168, 0.93);
  background-color: transparent;
  color: rgba(245, 118, 168, 0.93);
}
.button.hollow {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px, black 0px 0px 0px 2px inset;
  color: black;
  text-shadow: none;
}
.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px, #489fd9 0px 0px 0px 2px inset;
  color: white;
  text-shadow: none;
}
.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-text {
  display: block;
  margin-top: 0px;
  font-family: Bitter, serif;
  color: rgba(245, 118, 168, 0.93);
  font-size: 32px;
  font-weight: 500;
}
.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 13px;
  color: rgba(245, 118, 168, 0.93);
}
.logo-text.footer-logo {
  color: rgba(209, 59, 119, 0.92);
  font-size: 32px;
}
.navigation {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 0px 0px;
}
.nav-link {
  padding: 26px 17px;
  box-shadow: transparent 0px 3px 0px 0px inset;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  -o-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
  color: #a83966;
}
.nav-link:hover {
  box-shadow: rgba(181, 181, 181, 0.49) 0px 3px 0px 0px inset;
}
.nav-link.w--current {
  box-shadow: #4dbd90 0px 3px 0px 0px inset;
  color: #4dbd90;
}
.section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(235, 192, 209, 0.29);
}
.section.main {
  margin-top: 73px;
  background-color: #4dbd90;
  background-image: url('../images/analytics-graphic2.png');
  background-position: 0% 23%;
  background-size: cover;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}
.section.main.content {
  position: relative;
  margin-top: 0px;
  background-color: rgba(235, 192, 209, 0.29);
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.section.main.bottom {
  margin-top: 80px;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.section.footer {
  margin-top: 30px;
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #3d3a3b;
  color: #e4e8eb;
}
.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}
.section.purple {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #5f6166;
}
.section.clients {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}
.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #3e5c50;
}
.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}
.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}
.slide._1 {
  background-color: #00ad6e;
}
.slide._2 {
  background-color: #00bdd6;
}
.slide._3 {
  background-color: #ccbe00;
}
.main-subtitle {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}
.footer-slogan {
  margin-bottom: 11px;
  font-family:'Open Sans', sans-serif;
  color: #939596;
  font-weight: 600;
}
.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-icon:hover {
  opacity: 1;
}
.footer-title {
  margin-top: 0px;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  -o-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}
.page-link:hover {
  border-bottom-color: #489fd9;
}
.page-link.in-footer {
  display: block;
  color: #939596;
}
.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}
.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgba(245, 118, 168, 0.18);
  font-family:'Open Sans', sans-serif;
  color: rgba(245, 118, 168, 0.93);
  font-weight: 600;
}
.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: #489fd9 0px 0px 6px 0px;
}
.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family:'Roboto Slab', sans-serif;
  color: #d5d8db;
}
.newsletter-button:hover {
  background-color: #489fd9;
  color: white;
}
.newsletter-form {
  width: 70%;
}
.brand-link {
  text-decoration: none;
}
.success-message {
  background-color: #5f6166;
}
.main-heading {
  margin-bottom: 20px;
  color: white;
  font-size: 38px;
  line-height: 44px;
}
.section-subtitle {
  margin-bottom: 68px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}
.bold-text {
  font-weight: 400;
}
.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: white;
  color: #2b2b2b;
}
.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}
.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}
.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}
.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}
.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}
.additional-contact {
  margin-top: 21px;
  text-align: center;
}
.feature {
  text-align: left;
}
.feature-row {
  margin-bottom: 14px;
}
.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}
.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}
.testimony-text {
  margin-bottom: 21px;
  font-family:'Roboto Slab', sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
  text-align: left;
}
.slide-nav {
  display: none;
  font-size: 10px;
}
.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}
.name {
  font-weight: 500;
}
.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}
.slider-arrow:hover {
  color: black;
}
.feature-icon {
  margin-bottom: 12px;
}
.main-feature-group {
  margin-top: 30px;
}
.small-features-row {
  margin-top: 71px;
}
.client-logo {
  width: 16.6%;
}
.press-logo {
  width: 16%;
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.94;
}
.small-text {
  color: rgba(255, 255, 255, 0.29);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.show-label {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  font-family:'Roboto Slab', sans-serif;
  color: rgba(245, 118, 168, 0.93);
  font-size: 23px;
  font-weight: 300;
  text-align: center;
}
.task-container {
  position: relative;
  z-index: 1;
  margin-top: 18px;
  padding: 4px 7px 5px;
  background-color: transparent;
}
.task-container.contact-item-outer {
  z-index: 1;
  display: block;
  margin-top: 0px;
  padding: 5px 0px;
  color: rgba(186, 141, 159, 0.45);
}
.task-container.task-container-featured {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0px;
}
.task-container.task-section {
  margin-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.task-container.task-container-first-nesting {
  padding-left: 0px;
}
.task-container.shout-out-wrapper {
  margin-top: 29px;
  padding-right: 14px;
  padding-left: 14px;
}
.task-container.shout-out-box {
  margin-top: 6px;
  margin-bottom: 0px;
  padding-top: 10px;
  background-color: transparent;
}
.task-container.task-container-intro {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.task-container.task-container-pre-subhead {
  margin-top: 0px;
}
.task-container.task-subheader {
  display: block;
  background-color: transparent;
}
.task-project-link {
  margin-right: 0px;
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
  line-height: 22px;
  font-weight: 700;
  text-decoration: none;
}
.task-project-link.contact-info {
  display: block;
  margin-top: 0px;
  padding-left: 0px;
  color: rgba(245, 118, 168, 0.93);
  font-size: 18px;
  line-height: 22px;
}
.task-project-link.date {
  display: inline;
  font-weight: 400;
}
.task-project-link.brace {
  font-family:'PT Sans', sans-serif;
  color: rgba(245, 118, 168, 0.93);
  font-size: 20px;
  font-weight: 700;
}
.task-project-link.brace.brace-right {
  display: inline;
  margin-right: 7px;
  margin-left: 2px;
  padding-right: 0px;
  color: rgba(245, 118, 168, 0.52);
}
.task-project-link.brace.brace-left {
  display: inline;
  margin-right: 2px;
  color: rgba(245, 118, 168, 0.52);
}
.task-project-link.task-project-link-smaller {
  font-size: 15px;
}
.source-show-line {
  height: 2px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgba(199, 151, 169, 0.38);
}
.source-show-line-w {
  margin-top: 5px;
  padding-right: 4px;
  padding-left: 4px;
}
.source-show-check {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline;
  width: 8px;
  height: 8px;
  float: none;
  background-color: #ba8d9f;
}
.source-show-count {
  display: inline-block;
  font-family: Inconsolata, monospace;
  color: #ba8d9f;
  font-size: 19px;
}
.source-show-count.cito-issue-link {
  color: rgba(189, 172, 179, 0.18);
}
.task-checkbox-todo {
  position: static;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0px 5px 0px 0px;
  padding: 0px;
  float: none;
  clear: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(189, 172, 179, 0.81);
  color: #ba8d9f;
  font-weight: 400;
}
.task-checkbox-todo.cito-issue-link {
  border-width: 8px;
  border-color: rgba(189, 172, 179, 0.18);
}
.feed-item {
  padding-left: 8px;
}
.feed-item.feed-hn {
  padding-left: 0px;
}
.source-show-info {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 3px;
  float: none;
}
.feed-column {
  padding-right: 0px;
  padding-left: 0px;
}
.show-column {
  padding-left: 20px;
}
.feed-img.feed-img-haskell {
  border-top-left-radius: 58px;
  background-image: url('../images/intro-functional-prog.jpg');
}
.source-show-grouper {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  display: inline-block;
  padding-top: 34px;
  float: none;
  font-family:'PT Sans', sans-serif;
  color: #e8cfda;
  font-size: 86px;
  line-height: 22px;
}
.source-show-list.source-show-nest {
  position: static;
  display: inline-block;
  width: 90%;
  margin-right: 0px;
  float: right;
}
.source-show-list.left-list {
  margin-top: 10px;
}
.source-show-sublist {
  position: relative;
  margin-bottom: 0px;
  float: none;
  clear: none;
}
.source-show-group-watermark {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
  margin-top: 26px;
  margin-left: 30px;
  color: rgba(247, 223, 233, 0.65);
  font-size: 68px;
}
.source-show-options {
  display: inline-block;
  width: 10px;
  margin-right: 6px;
  margin-bottom: -2px;
  margin-left: 6px;
}
.source-show-options:hover {
  display: inline-block;
}
.source-show-opt-menu {
  height: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #ba8d9f;
}
.feed-info {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.feed-title {
  margin-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
  font-size: 19px;
  font-weight: 400;
}
.feed-stats {
  border-top-left-radius: 0px;
}
.task-para {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
}
.task-para.intro-para {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: left;
}
.task-para.para-before-para {
  margin-bottom: 1px;
}
.task-para.specs-title {
  margin-top: 10px;
}
.task-para.para-before-project {
  margin-top: 10px;
}
.task-para.task-para-append {
  margin-top: 10px;
}
.task-para.task-para-lighter {
  color: rgba(186, 141, 159, 0.68);
  font-size: 15px;
}
.task-para.task-para-code {
  padding: 8px 5px;
  border-radius: 3px;
  background-color: #333;
  font-family: Inconsolata, monospace;
  color: rgba(245, 118, 168, 0.93);
  font-size: 17px;
}
.task-para.task-para-expo {
  color: rgba(186, 141, 159, 0.68);
  font-size: 16px;
  line-height: 18px;
}
.task-issue-link {
  position: static;
  display: block;
  float: none;
  clear: none;
  font-family: Inconsolata, monospace;
  color: rgba(189, 172, 179, 0.93);
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
}
.task-issue-link.task-issue-link-featured {
  display: block;
  margin-left: -25px;
  color: rgba(158, 158, 158, 0.98);
  font-weight: 800;
}
.task-issue-link.task-issue-link-larger {
  margin-top: 0px;
  font-size: 16px;
}
.task-issue-link.task-issue-link-far {
  margin-left: 4px;
}
.task-issue-link.task-done {
  text-decoration: line-through;
}
.task-container {
  position: static;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 5px;
  padding-top: 5px;
  float: none;
  clear: none;
  border-radius: 7px;
  background-color: #3d3a3b;
}
.tasks-this-week {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 0px;
  border-radius: 0px;
  font-family: Inconsolata, monospace;
  color: #ba8d9f;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
}
.task-project-link {
  display: inline-block;
  margin-top: 5px;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
}
.featured-section {
  padding-top: 0px;
}
.feature-quote {
  margin-bottom: 5px;
  padding-right: 25px;
  color: #ba8d9f;
  font-size: 19px;
  font-weight: 400;
  text-align: right;
}
.classifieds-header {
  padding-bottom: 0px;
  float: none;
  text-align: left;
}
.quoted-para {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}
.quoted-para.interview-answer {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.task-number {
  color: rgba(245, 118, 168, 0.93);
  font-size: 37px;
}
.shout-out-inner {
  height: 150px;
  background-color: rgba(199, 151, 169, 0.38);
}
.shout-out-text {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 11px 7px 13px;
  border-style: dashed;
  border-width: 3px;
  border-color: rgba(245, 118, 168, 0.93);
  font-family:'Roboto Slab', sans-serif;
  color: rgba(245, 118, 168, 0.93);
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
}
.shout-out-text.your-project {
  margin: 50px 5px 0px;
  padding: 10px 5px 15px;
  font-size: 19px;
}
.close-subtitle-heading {
  display: block;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
  color: #ba8d9f;
}
.code-comment {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 0px;
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}
.code-comment.code-comment-first {
  margin-top: 15px;
  padding-left: 0px;
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
  line-height: 21px;
  font-weight: 400;
}
.code-comment.code-comment-last {
  margin-bottom: 10px;
  line-height: 21px;
}
.task-issue-link-wrapper {
  display: inline-block;
  width: 100%;
  margin-top: 3px;
}
.task-issue-link-wrapper:hover {
  color: #fac8dc;
  text-decoration: none;
}
.code-snippet {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgba(191, 159, 172, 0.29);
  font-family: Inconsolata, monospace;
}
.inline-code {
  font-family: Inconsolata, monospace;
}
.main-content {
  padding-top: 30px;
}
.contact-info {
  margin-left: 0px;
  padding-left: 13px;
  font-family:'Roboto Slab', sans-serif;
  color: #ba8d9f;
  font-weight: 400;
  text-align: justify;
}
.contact-info.about-me {
  margin-right: 20px;
  font-weight: 400;
}
.contact-block {
  position: relative;
  margin-top: 10px;
}
.tasks-this-week-n {
  display: inline-block;
  padding-right: 1px;
  color: rgba(245, 118, 168, 0.93);
  font-size: 17px;
  font-weight: 300;
}
.weekly-subtitle {
  display: inline-block;
  margin-top: 3px;
  margin-right: 64px;
  float: right;
  font-family:'Roboto Slab', sans-serif;
  color: #fac8dc;
  font-size: 23px;
  font-weight: 300;
}
.weekly-subtitle.footer-logo {
  margin-top: 7px;
  color: rgba(245, 118, 168, 0.93);
}
.title-wrapper {
  display: inline-block;
  margin-top: 5px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.cito-main {
  position: static;
  display: block;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}
.cito-navbar {
  background-color: transparent;
}
.cito-header {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3d3a3b;
}
.text-link {
  color: #ba8d9f;
  font-weight: 700;
}
.interviewee-intro-line {
  margin-bottom: 25px;
  padding-bottom: 0px;
  color: #ba8d9f;
  font-size: 19px;
  text-align: left;
}
.spec-item {
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
}
.shout-out-link {
  color: rgba(245, 118, 168, 0.93);
}
.classifieds {
  border-radius: 7px;
  background-color: transparent;
}
.main-segment {
  margin-top: 10px;
  padding: 5px 7px;
  border-radius: 7px;
  background-color: #3d3a3b;
}
.main-segment.main-segment-title {
  margin-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.main-intro {
  padding: 10px 7px;
}
.go-to-this-task {
  display: block;
  margin-top: 0px;
  color: rgba(189, 172, 179, 0.93);
  line-height: 17px;
  text-align: right;
}
.royalti-chiq {
  background-color: #610000;
}
.contact-item-outer {
  padding-top: 5px;
  padding-bottom: 5px;
}
.go-to-task {
  display: block;
  margin-top: 10px;
  padding: 3px 23px 6px;
  border: 1px solid #ba8d9f;
  font-family:'Roboto Slab', sans-serif;
  color: #ba8d9f;
  text-decoration: none;
}
.go-to-task:hover {
  border-color: rgba(245, 118, 168, 0.93);
}
.go-to-task-text {
  text-align: center;
  text-decoration: none;
}
.go-to-task-text:hover {
  color: rgba(245, 118, 168, 0.93);
}
.subhead-h-line {
  height: 2px;
  background-color: rgba(199, 151, 169, 0.38);
}
.task-container-half {
  margin-top: 5px;
  padding: 5px 7px;
}
.task-container-half.task-container-first-half {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.task-container-half.task-container-second-half {
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.smaller-text {
  font-size: 16px;
  line-height: 20px;
}
.code-live {
  margin-top: 10px;
}
.task-header {
  margin-top: 5px;
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
  font-weight: 700;
}
.task-header.inline-table {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 0px;
}
.task-header.inline-table.table-break {
  display: block;
}
.issue-date {
  display: inline-block;
  margin-left: 4px;
  font-family:'Open Sans', sans-serif;
  color: #ba8d9f;
  font-weight: 700;
}
.more-tasks {
  margin-top: 10px;
  padding: 3px 23px 5px;
  border: 1px solid #ba8d9f;
  font-family:'Roboto Slab', sans-serif;
  color: #ba8d9f;
}
.more-tasks:hover {
  border-color: rgba(245, 118, 168, 0.93);
}
@media (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .logo-text {
    font-size: 30px;
  }
  .navigation {
    position: static;
  }
  .nav-link {
    padding: 18px 0px;
    color: white;
  }
  .nav-link:hover {
    box-shadow: transparent 0px 3px 0px 0px inset;
  }
  .nav-link.w--current {
    box-shadow: transparent 0px 1px 0px 0px inset;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: black;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    background-color: black;
    color: white;
  }
  .section.main.content {
    margin-top: 0px;
  }
  .section.footer {
    margin-top: 16px;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: black;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .main-image {
    margin-top: 49px;
  }
  .task-container.contact-item-outer {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .task-project-link {
    overflow-x: auto;
    overflow-y: auto;
  }
  .task-project-link.contact-info {
    overflow-x: visible;
    overflow-y: visible;
    margin-bottom: 0px;
    font-size: 19px;
    line-height: 22px;
    text-align: left;
  }
  .task-project-link.task-project-link-smaller {
    font-size: 15px;
  }
  .task-checkbox-todo {
    width: 17px;
    height: 17px;
    margin-top: 2px;
    margin-right: 0px;
  }
  .source-show-list.left-list {
    margin-top: 0px;
  }
  .task-para {
    font-size: 16px;
  }
  .task-para.intro-para {
    font-size: 23px;
    line-height: 29px;
  }
  .task-para.task-para-code {
    font-size: 15px;
  }
  .task-issue-link {
    margin-left: 10px;
    font-family: Inconsolata, monospace;
    color: rgba(189, 172, 179, 0.93);
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
  .task-issue-link.task-issue-link-featured {
    margin-left: -10px;
    font-size: 17px;
  }
  .task-container {
    padding-left: 5px;
  }
  .tasks-this-week {
    margin-bottom: 10px;
    padding-top: 0px;
    font-size: 21px;
  }
  .task-project-link {
    margin-bottom: -5px;
  }
  .quoted-para {
    margin-top: 15px;
  }
  .quoted-para.interview-answer {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .shout-out-text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 3px;
    padding-left: 3px;
  }
  .shout-out-text.your-project {
    margin-top: 55px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .title-wrapper {
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .cito-main {
    margin-right: 7px;
    margin-left: 7px;
  }
  .contact-item-outer {
    display: block;
    padding-left: 7px;
  }
}
@media (max-width: 767px) {
  h1 {
    padding-top: 8px;
  }
  h3 {
    margin-bottom: 8px;
    font-size: 19px;
  }
  p {
    font-size: 19px;
    line-height: 30px;
  }
  .logo-text {
    margin-top: 15px;
    margin-bottom: 4px;
    font-size: 31px;
  }
  .logo-text.footer {
    margin-bottom: 0px;
    text-align: left;
  }
  .logo-text.footer-logo {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section.main {
    margin-top: 51px;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .footer-title {
    margin-top: 35px;
  }
  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .divider {
    width: 100%;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
  .show-label {
    margin-top: 20px;
    padding-top: 0px;
  }
  .task-container {
    left: 0px;
    top: 0px;
    margin-top: 31px;
    margin-bottom: 0px;
  }
  .task-container.contact-item-outer {
    font-size: 16px;
    text-align: left;
  }
  .task-project-link {
    display: inline;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .task-project-link.contact-info {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
  }
  .task-project-link.date {
    font-weight: 300;
  }
  .task-checkbox-todo {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .feed-column {
    padding-right: 15px;
    padding-left: 15px;
  }
  .show-column {
    padding-right: 15px;
    padding-left: 15px;
  }
  .task-para {
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
  }
  .task-para.intro-para {
    font-size: 26px;
    line-height: 29px;
  }
  .task-para.para-before-para {
    margin-bottom: 15px;
  }
  .task-para.para-before-project {
    margin-bottom: 15px;
  }
  .task-issue-link {
    margin-top: 0px;
    margin-left: -5px;
    font-size: 20px;
  }
  .task-issue-link.task-issue-link-larger {
    margin-left: 0px;
  }
  .task-container {
    margin-top: 20px;
  }
  .tasks-this-week {
    margin-top: 4px;
    margin-bottom: 5px;
    padding-top: 5px;
    font-size: 22px;
  }
  .task-project-link {
    position: static;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: visible;
    overflow-y: visible;
    float: none;
    font-size: 20px;
    text-align: center;
  }
  .feature-quote {
    margin-bottom: 15px;
  }
  .quoted-para {
    margin-top: 20px;
  }
  .quoted-para.interview-answer {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 22px;
  }
  .task-number {
    font-size: 30px;
    font-weight: 400;
  }
  .shout-out-text {
    margin-top: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .shout-out-text.your-project {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .task-issue-link-wrapper {
    margin-top: 12px;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info.about-me {
    text-align: left;
  }
  .tasks-this-week-n {
    font-size: 19px;
  }
  .weekly-subtitle {
    margin-top: 2px;
  }
  .title-wrapper {
    padding-left: 20px;
  }
  .title-wrapper.footer-title-wrapper {
    margin-top: 30px;
  }
  .contact-item-outer {
    display: block;
    font-size: 16px;
    line-height: 21px;
  }
  .task-container-half.task-container-first-half {
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .task-container-half.task-container-second-half {
    padding-top: 10px;
    padding-left: 0px;
  }
}
@media (max-width: 479px) {
  h3 {
    line-height: 24px;
  }
  .logo-text {
    margin-top: 10px;
    font-size: 28px;
  }
  .logo-text.footer {
    margin-bottom: 0px;
    font-size: 27px;
    text-align: left;
  }
  .logo-text.footer-logo {
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 26px;
  }
  .newsletter-field {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 4px 4px 4px 10px;
  }
  .newsletter-button {
    padding-right: 4px;
    padding-left: 4px;
  }
  .client-logo {
    width: 33.33%;
  }
  .press-logo {
    width: 28%;
  }
  .task-project-link.contact-info {
    display: inline;
    margin-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    font-weight: 400;
  }
  .task-project-link.task-project-link-smaller {
    font-size: 19px;
  }
  .task-checkbox-todo {
    float: none;
  }
  .show-column {
    padding-right: 10px;
    padding-left: 10px;
  }
  .task-para {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
  .task-para.intro-para {
    font-size: 22px;
    line-height: 24px;
    text-align: left;
  }
  .task-para.para-before-para {
    margin-bottom: 12px;
    line-height: 25px;
  }
  .task-issue-link {
    margin-top: 0px;
    margin-left: 8px;
    line-height: 20px;
  }
  .tasks-this-week {
    font-size: 23px;
    line-height: 24px;
  }
  .feature-quote {
    margin-bottom: 20px;
  }
  .quoted-para {
    margin-top: 15px;
    font-size: 18px;
    line-height: 24px;
  }
  .quoted-para.interview-answer {
    line-height: 21px;
  }
  .task-number {
    font-size: 31px;
  }
  .shout-out-text {
    padding-right: 5px;
    padding-left: 5px;
  }
  .task-issue-link-wrapper {
    margin-top: 12px;
  }
  .contact-info.about-me {
    text-align: left;
  }
  .weekly-subtitle {
    margin-top: 0px;
  }
  .weekly-subtitle.footer-logo {
    margin-top: 2px;
  }
  .title-wrapper.footer-title-wrapper {
    margin-top: 30px;
  }
  .cito-main {
    margin-right: 3px;
    margin-left: 3px;
    padding-top: 10px;
  }
  .contact-item-outer {
    text-align: left;
  }
}

